{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RepairDesk{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body class="{% if request.session.theme == 'dark' %}dark{% endif %}">
<header>
    <h1><a href="{% url 'home' %}">RepairDesk</a></h1>
<nav class="navbar">
    

    {% if user.is_authenticated %}
        
        {% if not request.user.groups.all.0.name == "Customer" %}
        <a href="{% url 'ticket_list' %}">Ticket</a>
        {% endif %}
        {% if not request.user.groups.all.0.name == "Technician" %}
            <a href="{% url 'ticket_create' %}" class="...">New Ticket</a>
        {% endif %}
        <a href="{% url 'device_list' %}">Device</a>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <a href="{% url 'toggle_theme' %}">Tema</a>
</nav>

</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>
